* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent-box {
    height: 100vh;
    background-color: red;
    display: flex;
    /* x-direction */
    justify-content: center;
    justify-content: right;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;
    /* y-direction */
    align-items: center;
    align-items: flex-start;
    align-items: flex-end;
    align-items: baseline;
    /* flex-direction: row-reverse;
    flex-direction: column-reverse; */
    flex-wrap: wrap;
}

.box {
    width: 50px;
    height: 50px;
    background-color: aqua;
    margin: 2px;
}